<?xml version="1.0" ?>
<launch>
  <arg name="camera" default="$(find machine_vision)/config/camera.yaml" />
  <arg name="color_filters" default="$(find machine_vision)/config/color_filters.yaml" />
  <arg name="object_types" default="$(find machine_vision)/config/object_types.yaml" />

  <rosparam command="load" file="$(arg camera)" />
  <rosparam command="load" file="$(arg color_filters)" />
  <rosparam command="load" file="$(arg object_types)" />

  <node name="object_detection" pkg="machine_vision" type="object_detection" output="screen" />
</launch>
